*{
    margin:4px;
    padding:4px;
}
body{
    background-color:white;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.main{
    background-color:white;
    width:450px;
    height:550px;
    padding:30px 30px;
    border:2px solid rgb(192, 185, 185);
    box-shadow:0 0 30px rgb(182, 179, 179);
    border-radius:20px;
    color:black;
}
p{
    font-size:30px;
    font-weight:bold;
    margin-left:20px;
    margin-bottom:20px;
}
img{
    height:80px;
    width:130px;
    margin-left:150px;
}
.email{
    height:40px;
    width:410px;
    border:2px solid white;
    font-size:20px;
    border:1px solid black;
}
.number{
    height:40px;
    width:410px;
    border:2px solid white;
    font-size:20px;
    border:1px solid black;
}
.password{
    height:40px;
    width:410px;
    border:2px solid white;
    font-size:20px;
    border:1px solid black;
}
input{
    transition:0.5s;
    border-radius:5px;
}
input:hover{
    transition:0.5s;
    border:2px solid rgb(58, 58, 231);
}
.fourth{
    margin-top:15px;
}
a{
    color:rgb(58, 58, 231);
    text-decoration:none;
    font-weight:bold;
    transition:0.5s;
    font-size:18px;
}
a:hover{
    transition:0.5s;
    text-decoration:underline;
}
button{
      width:100px;
      height:50px;
      border-radius:5px;
      border:2px solid rgb(58, 58, 231);
      color:white;
      background-color:rgb(58, 58, 231);
      font-weight:bold;
      font-size:15px;
}
.fifth{
    margin-top:50px;
}
.btn{
    margin-left:160px;

}
.fourth{
    font-size:20px;
}
.check{
    width:30px;
    height:15px;
    border:1px solid black;
}
